/*
primary: #2B3A55
sec: #CE7777
terc #E8C4C4
info #F2E5E5
*/

h1{
    color:#E8C4C4;
}

.bg-primary{
    background-color: #FDFDBD;
}

.text-light{
    -webkit-text-stroke: 2px black;
     color: transparent;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-secondary{
    text-align: center;
}

.widht-100{
    width: 100px;
}

.bg-info{
    background-color: #97ca97;
}

.text-primary{
    color:#FDFDBD;
}

.text-white{
    background-color: black;
    color:white;
}

